<!DOCTYPE html>
<html>
<head>
    <title>Интернет-магазин</title>
    <style>

    </style>
</head>
<body>
    <header>
        <h1>Лого</h1>
        <nav>
            <ul>
                <li><a href="/store/">Главная</a></li>
                <li><a href="/clothing/">Одежда</a></li>
                <li><a href="/shoes/">Обувь</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>© 2024 Интернет-магазин</p>
    </footer>
</body>
</html>